apiVersion: 1

policies:
  - orgId: 1
    receiver: discord-warning
    group_by:
      - grafana_folder
      - alertname
    group_wait: 1m
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - receiver: discord-critical
        matchers:
          - severity = critical
        group_wait: 10s
        group_interval: 1m
        repeat_interval: 15m
        continue: false

      - receiver: discord-high
        matchers:
          - severity = high
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 1h
        continue: false

      - receiver: discord-warning
        matchers:
          - severity = warning
        group_wait: 1m
        group_interval: 5m
        repeat_interval: 4h
        continue: false

      - receiver: discord-info
        matchers:
          - severity = info
        group_wait: 5m
        group_interval: 15m
        repeat_interval: 12h
        continue: false